<ion-header>
  <ion-navbar>
    <ion-title>
      Bluetooth
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list padding>
    <button ion-button block (click)="selectDevice(defaultDevice)">Fast Connect</button>
    <button ion-button block (click)="startScanning()">Manual Scan</button>
    <button ion-button block (click)="disconnect()">Disconnect</button>
    <ion-list-header>
      availlable Devices
    </ion-list-header>
    <ion-item *ngFor='let device of unpairedDevices'>
      <span (click)="selectDevice(device.address)">
        {{device.name}}
      </span>
    </ion-item>
    <ion-spinner name="crescent" *ngIf="gettingDevices"></ion-spinner>
  </ion-list>

</ion-content>
